name: Test and Build CI
on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup up python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        pytest
  
  docker:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Login to Dockerhub
      uses: docker/login-action@v3
      with:
        username: ${{  secrets.DOCKERHUB_USERNAME  }}
        password: ${{  secrets.DOCKERHUB_TOKEN  }}
      
    - name: Build and push Image
      uses: docker/build-push-action/@v5
      with:
        context: .
        push: true
        tags: |
          ${{  secrets.DOCKERHUB_USERNAME  }}/gh-actions-demo:${{  github.sha  }}