name: basic-flask-api
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  runs_on: ubuntu-latest
  steps:
  - name: Checkout code
    uses: actions/checkout@v4
  - name: Setup up python
    uses: actions/setup-python@v5
  - name: Install dependencies
    run: |
      pip install -r requirements.txt
  - name: Run Tests
    run: |
      pytest